@font-face {
  font-family: 'cursed-timer';
  src: url(fonts/CursedTimerUlil-Aznm.ttf);
}
body {
  margin: 0;
  font-family: 'cursed-timer';
  box-sizing: border-box;
}

/* typography */

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: #eeeeee;
  margin-bottom: 20px;
}

#home-score-el,
#guest-score-el {
  font-size: 90px;
  margin-top: 0;
  margin-bottom:25px;
  background-color: #080001;
  color: #F94F6D;
  border-radius: 5px;
  padding: 15px 20px 0px 20px;
}


/* layout */

.container-outer {
  margin: 0 auto;
  width: 575px;
  height: 385px;
  background-color: #1B244A;
  text-align: center;

}

.container {
  display: flex;
  justify-content: space-around;
}



.teams {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/* buttons */

button {
  margin-top: 0;
  font-family: 'cursed-timer';
  font-size: 18px;
  padding-top: 4px;
  background-color: #1B244A;
  color: #eeeeee;
  border:1px solid #eeeeee;
  border-radius: 5px;
  margin-bottom: 30px;
}

button:hover,
button:focus {
  background-color: #eeeeee;
  color: #1B244A;
  cursor: pointer;
}

#reset-el {
  padding: 8px 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  background-color: #F94F6D;
  text-shadow: -2px 2px 2px #1B244A;
  color: #eeeeee;
  border: 3px solid #eeeeee;
}

#reset-el:hover,
#reset-el:focus {
  background-color: #eeeeee;
  color: #F94F6D;
  border: 3px solid #F94F6D;
}


